<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vinicius Ambrosi</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/base.css" />
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid container-header">
            <a href="#" class="navbar-brand">Vinicius Ambrosi</a>
            <a href="#" class="hire-me navbar-right">Contact</a>
            <a href="#" class="navigation-links navbar-right">
                <span class="navigation-links-text">About Me</span>
            </a>
        </div>
    </nav>
    <div class="container">

    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>

</html>